@using Entity.Concrete
@model List<Book>
@{
    ViewData["Title"] = "UserBookList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (Model == null || Model.Count == 0)
{
    <div class="alert alert-warning">
        Henüz herhangi bir kitap alınmamış.
    </div>
    <a href="/Customer/Index" class="btn btn-primary">Kitap Al</a>

}
else
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6">
                <div class="card h-100 d-flex flex-column">
                    <img src="https://via.placeholder.com/150" class="card-img-top img-fluid rounded-circle" alt="John Doe" style="width: 75px; height: 75px;">
                    <div class="card-header">
                        <h4>@item.BookWriter</h4>
                    </div>
                    <div class="card-body flex-grow-1">
                        <p class="card-text">@item.BookName.</p>
                        <p class="card-text">@item.BookType</p>
                        <p class="card-text">@item.BookDescription</p>
                    </div>
                    <div class="card-footer">
                        <td><a onclick="deleteBook(@item.Id)" class="badge badge-success">İade Et</a></td>
                    </div>
                </div>
            </div>
        }
    </div>
}
<script>
    function deleteBook(bookId) {
        swal({
            title: "Emin Misin?",
            text: "Bu kitabı iade etmek istiyor musunuz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                var form = document.createElement("form");
                form.method = "POST";
                form.action = "/Customer/DeleteUserBook/" + bookId;

                var hiddenField = document.createElement("input");
                hiddenField.type = "hidden";
                hiddenField.name = "id";
                hiddenField.value = bookId;

                form.appendChild(hiddenField);
                document.body.appendChild(form);
                form.submit();
            }
        });
    }
</script>
